@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=EB+Garamond:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #111111;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-family: "EB Garamond", serif;
}
a {
  cursor: pointer;
  text-decoration: none;
}
